{% extends 'html/base.html' %}
{% block title %}{% endblock %}
{% block content %}
<div class="container">
	<div class="card mt-4 col-md-5 ">
		<h3 class="text-center text-light bg-danger mt-2 p-2">Reset_password_confirmation</h3>
		<div class="card-body">
			<form method="POST">
				{% csrf_token %}
				<input type="password" name="new_pasword1" class="form-control my-2" placeholder="enter new password">
				<input type="password" name="new_pasword2" class="form-control my-2" placeholder="enter new confirm password">
				<input type="submit" value="Update" class="btn btn-block btn-success text-light form-control my-2">
			</form>
			
		</div>
			}
		
	</div>

	
</div>







{% endblock %}